PORT=7002
SQLSERVER_HOST=localhost
SQLSERVER_INSTANCE=SQLEXPRESS
SQLSERVER_PORT=
SQLSERVER_DATABASE=E-COMERCE
SQLSERVER_USER=jvtt
SQLSERVER_PASSWORD=jvtt1995
ECOMMERCE_PRODUCTS_SCHEMA=dbo
ECOMMERCE_PRODUCTS_TABLE=ECPRDU
FRONTEND_URL=http://localhost:7000
PLACETOPAY_LOGIN=
PLACETOPAY_TRANKEY=
PLACETOPAY_BASE_URL=https://test.placetopay.com/redirection
PLACETOPAY_LOCALE=es_EC
SAP_SYNC_ENABLED=false
SAP_SOURCE=generic_api
SAP_PRODUCTS_URL=
SAP_API_KEY=
SAP_API_KEY_HEADER=x-api-key
SAP_BEARER_TOKEN=
SAP_SYNC_INTERVAL_MINUTES=0
SAP_B1_SERVICE_LAYER_URL=
SAP_B1_COMPANY_DB=
SAP_B1_USERNAME=
SAP_B1_PASSWORD=
SAP_B1_WAREHOUSE_CODE=
SAP_B1_PRICE_LIST=8
SAP_B1_PRICE_STRICT=true
SAP_B1_FALLBACK_PRICE_LISTS=
SAP_B1_TRUNCATE_BEFORE_SYNC=true
SAP_B1_DEFAULT_CONTAINER=2575
SAP_B1_DEFAULT_IMAGE=https://picsum.photos/seed/1200/800/800
SAP_B1_PAGE_SIZE=100
SAP_B1_PRICE_CONCURRENCY=10
SAP_B1_SYNC_BATCH_SIZE=200
SAP_B1_SQL_FILTER=
SAP_B1_SQL_TEXT=
SAP_B1_TLS_INSECURE=false
SAP_B1_ITEMS_FILTER=
URBANO_USER=1010-WebService
URBANO_PASS=1qasw27ygfsdernh
URBANO_CONTRATO=4661
URBANO_ID_ORDEN=4661
URBANO_LINEA=3
URBANO_ORIGEN_UBIGEO=
URBANO_API_KEY=GYWym2dyaGQssZ5bxSAhExF1sMUb8aLluVrG2gufPF50tS64hBgkz0ofVtdcdLc8
URBANO_BASE_PREPROD=https://devpyp.urbano.com.ec
URBANO_BASE_PROD=https://app.urbano.com.ec
URBANO_PRINT_USE_PROD=false
